[Unit]
Description=httpbin
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStart=/usr/bin/docker run --rm \
    --name=httpbin \
    -p 80:80 \
    kennethreitz/httpbin 
ExecStop=-/usr/bin/docker stop httpbin

[Install]
WantedBy=multi-user.target